<h2>Log in</h2>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username", value: params[:name] %><br>
  <%= form.label :Password %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password" %><br>
  <%= form.submit "Log in",  class: "btn btn-sm btn-primary" %>
<% end %>

<%= link_to 'Sign in', new_user_path , class: "link-offset-0 link-offset-0-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %><br>
<%= link_to "Forgot password?", new_password_path , class: "link-offset-0 link-offset-0-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>

