<div class="container">

<% if @book.errors.any? %>  <div id="error_explanation">
    <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: Current.user, book: @book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      
  <table class="table border-top table-hover">
    <thead>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
      <tbody class="table-group-divider border-light-subtle">
        <% @books.each do |book| %>
          <tr>
            <td>
            <%= link_to user_path(book.user) do %>
            <%= image_tag book.user.get_profile_image(80, 80) %>
            <% end %>
            </td>
            <td><%= link_to book.title, book_path(book.id),
                 class: "link-offset-0 link-offset-0-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
            </td>
            <td><%= book.body %></td>
            <td>
            <%= turbo_frame_tag dom_id(book, :favorite) do %>
            <%= render 'favorites/favorite_btn', book: book %>
           <% end %>    
            </td>
              <td><p>コメント数：<%= book.book_comments.count %></p></td>
              <td>閲覧数: <%= book.view_count %></td>
            </tr>
         <% end %>


      <table class="table table-bordered">
        <thead>
        <h3>過去7日分の投稿数</h3>
          <tr>
            <th>6日前</th>
            <th>5日前</th>
            <th>4日前</th>
            <th>3日前</th>
            <th>2日前</th>
            <th>昨日</th>
            <th>今日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @books_count_by_day.each do |count| %>
              <td><%= count %></td>
            <% end %>
          </tr>
        </tbody>
      </table>


<canvas id="myLineChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  document.addEventListener('turbo:load', function() {
    var ctx = document.getElementById("myLineChart");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
        datasets: [
          {
            label: '投稿した本の数',
            data: <%= @books_count_by_day.to_json %>,
            borderColor: "rgba(0,0,255,1)",
            backgroundColor: "rgba(0,0,0,0)",
            tension: 0.4
          }
        ],
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: '7日間の投稿数比較', // ここにタイトルを入力
          }
        },
        scales: {
          y: {
            suggestedMin: 0,
            suggestedMax: 10,
            ticks: {
              stepSize: 1 // 目盛りを1刻みにする
            }
          }
        }
      }
    });
  });
</script>

         

      </tbody>
      </table>

</div>
</div>
</div>