<%= flash[:notice] %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @book.user, book: @new_book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table border-top table-borderless">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user),
              class: "link-offset-0 link-offset-0-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" do %>
                <%= image_tag @book.user.get_profile_image(80,80) %>
                <br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book),
              class: "link-offset-0 link-offset-0-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>

            <%= turbo_frame_tag dom_id(@book, :favorite) do %>
              <%= render 'favorites/favorite_btn', book: @book %>
            <% end %>

            </td>
            <td>
            <p>コメント数：<%= @book.book_comments.count %></p>
            </td>
            <td>
            <div class="show_raty" 
              data-score="<%= @book.score %>"
              data-star-on="<%= asset_path('star-on.png') %>"
              data-star-off="<%= asset_path('star-off.png') %>"
              data-star-half="<%= asset_path('star-half.png') %>">
            </div>
            </td>
            <td>
              <% if @book.user == Current.user %>
                <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
            <td>
              <% if @book.user == Current.user %>
                <%= link_to 'Destroy', book_path(@book), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <% @book.book_comments.each do |book_comment| %>
          <%= image_tag book_comment.user.get_profile_image(80,80) %>
          <%= book_comment.comment %>
          <% if book_comment.user == Current.user %>
          <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment),
          data: { turbo_method: :delete },
          class: "btn btn-sm btn-danger" %>
        <% end %><br>
          <%= link_to user_path(book_comment.user), class: "link-offset-0 link-offset-0-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" do %>
          <%= book_comment.user.name %>
        <% end %>

         </div>
        <% end %>
      

      <div>
        <%= form_with model: [@book, BookComment.new] do |f| %>
          <%= f.text_area :comment, rows: '5', class: "form-control" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>


    </div>
  </div>
</div>